.main {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

ul {
  list-style: none;
}

ul.task-content {
  padding-left: 0px;
}

a {
  text-decoration: none;
  color: black;
}

button {
  margin-left: 10px;
  width: 110px;
  height: 35px;
  background-color: white;
  border-style: none;
  border: solid 1px black;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
}

.task-container {
  display: table;
  width: 100%;
}

.content-created-at {
  display: table-cell;
  width: 23%;
}

.content-created-at > li {
  padding: 3px 10px;
}

.content-task {
  display: table-cell;
  text-align: left;
  padding: 0;
}

.content-task > a > li {
  padding: 3px 10px;
}

.content-task > a > li:hover {
  padding: 2px 9px;
  border: solid 1px black;
}

.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
